.title {
    color: green;
    font-size: 40px;
    margin-left: 10px;
}

.profit {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.user-input {
	float:left;
	width: 40%;
}

.results {
	float:right;
	width:50%;
}

#container {
}
button {
    font-size: 40px;
}
